/*
--------
Reset
--------
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
--------
Common
--------
*/

body{
    font-family: 'Open Sans', sans-serif;
}

.d-flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.text-align-center{
    text-align: center;
}

ul{
    list-style: none;
}

header .fa-solid.fa-bars{
    color: white;
}

.button-common{
    border: none;
    border-radius: 30px;
}

.first-col,
.second-col{
    width: 100%;
}

/*
--------
Header
--------
*/

header{
    background-color: #0084fd;
    padding: 0 30px;
}

header .container{
    height: 75px;
}

header ul li{
    color: white;
    margin-left: 30px;
    height: 75px;
    line-height: 75px;
}

header ul li button{
    background-color: white;
    color: black;
    padding: 15px 20px;
}

/* da 0 a 768px */
@media screen and (max-width: 768px) {
    header .list-menu{
        display: none;
    }

    header .hamburger{
        display: block;
    }
}

/* da 768px a 992px */
@media screen and (min-width: 768px) {
    header .list-menu{
        display: none;
    }

    header .hamburger{
        display: block;
    }
}

/* da 992px a infinito */
@media screen and (min-width: 992px) {
    header .list-menu{
        display: block;
    }

    header .hamburger{
        display: none;
    }

    header .container{
        max-width: 1150px;
        margin: 0 auto;
    }
}

/*
--------
Main
--------
*/

/* Get a demo*/
#get-a-demo{
    margin: 50px 30px 80px 30px;
}

.box-get-a-demo{
    background-color: #b5ddff;
    border-radius: 30px;
    padding: 35px 30px;
    margin-bottom: 25px;
}

#get-a-demo .col .second-col img{
    width: 100%;
    display: block;
    margin-bottom: -35px;
}

#get-a-demo h2,
#get-a-demo .fa-solid{
    color: #0084fd;
}

#get-a-demo .fa-solid{
    font-size: 70px;
    margin-bottom: 30px;
}

#get-a-demo h2{
    margin-bottom: 40px;
}

#get-a-demo p{
    color: #5a6e7f;
    line-height: 2em;
}

#get-a-demo .first-col button{
    padding: 10px 45px;
    background-color: #0084fd;
    color: white;
    margin: 35px 0;
}
/* /Get a demo*/

/* Strategic planning */
#strategic-planning{
    background-color: #9792e4;
    padding: 30px;
}

.box-strategic-planning{
    background-color: white;
    border-radius: 30px;
    padding: 35px 30px;
    margin: 30px;
}

#strategic-planning .container div:first-child img{
    width: 100%;
    margin: 50px 0;
}

#strategic-planning .container div:last-child img{
    width: 100%;
}

#strategic-planning .container div:first-child{
    color: white;
}

#strategic-planning .container div:first-child > h2{
    margin-bottom: 60px;
}

#strategic-planning .box-strategic-planning p{
    margin: 30px 0;
    font-style: italic;
}

#strategic-planning .box-strategic-planning div .fa-solid{
    width: 50px;
    height: 50px;
    background-color: #9792e4;
    border-radius: 50%;
    line-height: 50px;
}
/* /Strategic planning */

/* Testimonials */
#testimonials .container .header-testimonials{
    text-align: center;
    padding: 50px 30px;
}

#testimonials .container .header-testimonials h2{
    margin: 30px;
    color: #9792e4;
}

.box-testimonials{
    background-color: #9792e4;
    border-radius: 30px;
    padding: 35px 30px;
    margin: 30px;
    text-align: center;
}

#testimonials .container .card-testimonials .col-small img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

#testimonials .container .card-testimonials p{
    color: white;
}
/* /Testimonials */

/* Benefits */
#benefits{
    background-color: #9792e4;
}

#benefits .container{
    padding: 30px;
}

.box-benefits{
    background-color: white;
    border-radius: 30px;
    padding: 35px 30px;
    margin: 30px 0;
}
/* /Benefits */

/* About Us */
#about-us .container{
    padding: 30px;
}

#about-us .container .col-big p{
    line-height: 2em;
    margin: 50px 0;
}

#about-us .container .row .col-small img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}
/* /About Us */

/* da 0 a 768px */
@media screen and (max-width: 768px) {
    #get-a-demo .container .row{
        display: block;
    }
}

/* da 769px a 992px */
@media screen and (min-width: 769px) {

    #get-a-demo .container .row{
        display: flex;
        flex-wrap: wrap;
    }

    #get-a-demo .container .row .col{
        width: 30%;
        margin: 10px;
    }

    #get-a-demo .container .row .col:first-child{
        width: 62.5%;
    }

    #get-a-demo .container .row .col .second-col{
        width: 50%;
    }

    #testimonials .container .card-testimonials{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
    }

    #testimonials .container .card-testimonials p{
        padding-left: 40px;
    }

    #benefits .container .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    #benefits .container .row .col{
        width: 45%;
        margin: 10px 10px;
    }

    #about-us .container .row{
        display: flex;
        justify-content: space-between;
    }
    
    #about-us .container .row .col-big p{
        margin-right: 30px;
    }
}

/* da 992px a infinito */
@media screen and (min-width: 992px){
    main .container{
        max-width: 1150px;
        margin: 0 auto;
    }

    #get-a-demo .container .row{
        display: flex;
        flex-wrap: wrap;
    }

    #get-a-demo .container .row .col{
        width: 30%;
        margin: 10px;
    }

    #get-a-demo .container .row .col:first-child{
        display: flex;
        align-items: flex-end;
    }

    #get-a-demo .container .row .col .second-col,
    #get-a-demo .container .row .col .first-col{
        width: 50%;
    }

    #strategic-planning .container{
        display: flex;
    }

    #strategic-planning .container .box-strategic-planning{
        margin-top: 200px;
    }

    #testimonials .container .card-testimonials{
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
    }

    #testimonials .container .card-testimonials p{
        padding-left: 40px;
    }

    #benefits .container .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    #benefits .container .row .col{
        width: 30%;
        margin: 10px 10px;
    }

    #about-us .container .row{
        display: flex;
        justify-content: space-between;
    }
    
    #about-us .container .row .col-big p{
        margin-right: 30px;
    }
}

/*
--------
Footer
--------
*/
footer .container{
    max-width: 600px;
    margin: 0 auto;
}

#top-footer{
    background-color: #9792e4;
}

#top-footer .container{
    text-align: center;
    padding: 50px;
}

#bottom-footer{
    background-color: #333333;
}

#bottom-footer .container .content p{
    text-align: center;
    padding: 50px;
    color: white;
}